NEXT_PUBLIC_API_URL=https://your-render-backend.onrender.com
NEXT_PUBLIC_SUPABASE_URL=https://oytbynwogudfqqaxxrjq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im95dGJ5bndvZ3VkZnFxYXh4cmpxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg5NjEwMjAsImV4cCI6MjA5NDUzNzAyMH0.ku1VLFwSRMd5-7yJQUHEVeFJiJmWcA-BorvIH3ZQs-0
